<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HelperMessage📧</title>
		<style>
hr {
	border-color:rgb(151, 144, 144);
	width:75%;

}
form {
	text-align: center;
	margin-bottom: 20px;
}
.askforhelp {
	margin-top: 20px;
}
.f2{
	margin-top: 20px;
}
		</style>
</head>
<body> 
	<div class="askforhelp"> 
		<h2>Hello {{current_user.username}}</h2>
		<form action="#" method="post">
			<select name="exa">
					<option>Select one if you don't want to type</option>
					<option>Need help with tech</option>
					<option>Need to watch Zara</option>
					<option>Need to lift something heavy</option>
					<option>Need me to go buy something</option>
			</select>
			<input type="submit" value="Send" />
		</form>
		<hr />
		<form action="#" method="post" class="f2">
			<input type="text" name="msg" />
			<input type="submit" value="Send" />
		</form>
	</div>
</body>
</html>